@use "reset";


//google-fonts
$ja:'Zen Kurenaido', sans-serif;



//共通部分
header{
display: flex;
flex-direction: row-reverse;
padding: 40px;
h1{
width: 30%;
writing-mode: vertical-rl;
font-size: 64px;
font-family: $ja;
text-align: center;
padding-right: 40px;
}

.main-visual{
width: 70%;
height: 70vh;
img{
object-fit: cover;
width: 100%;
height: 100%;
}
}
}

//ここから各自の記述範囲

//iwata
.iwata-wrapper{
width: 100%;
padding: 0 40px;
margin:100px 0 ;
.iwata-box1{
display: flex;
gap: 0 40px;
margin-bottom: 80px;
img{
margin-bottom: 30px;
}
.iwata-txt{
h2{
text-align: center;
font-family: $ja;
font-size: 48px;
margin-bottom: 20px;
}
p{
margin-bottom: 80px;
text-indent: 1em;
letter-spacing: 2px;
line-height: 1.6;
font-size: 18px;
}
}
}
.iwata-box2{
.bxslider{
img{
width: 100%;
}
}
}
}









//ここまでが各自の記述範囲

footer{
width: 100%;
background-color: #725c50;
p{
text-align: center;
color: #FFF;
padding: 60px 0;
font-size: 18px;
}
}